* body {
  margin: 0;
  color: #9c0b62;
  background:whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  box-sizing: border-box;
}

.Avatar {
  border-color: rgb(163, 9, 112)
   
  }

.header, {
  float:left;
  }

.logo{
  color: #ce599d;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: large;
}

.nav links{
  background: #ac4482
  display: flex; 
  justify-content: space-around
  margin-right: 20px
  width: 30%;
  
}
 
.footer {
  display: center;
  margin-bottom: 25px;
}