* body {
  margin: 0;
  color: #250418;
  background:whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  box-sizing: border-box;
}

.nav image{
  background-position: center;
  background-repeat: no-repeat;
  background: size 50px;
  min: height 380px;px; 
  position: relative;
}

.nav links {
  overflow: hidden;
  background-color: black;
}

.Avatar {
  border-style:dashed;
   
  }

.header, {
  float:left;
  }

.logo{
  color: #ce599d;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: large;
}

.nav links{
  background: #ac4482
  display: flex; 
  justify-content: space-around
  margin-right: 20px
  width: 30%;
   
}
 
.footer {
  display: center;
  margin-bottom: 25px;
}