* body {
  margin: 0;
  color:black;
  background:whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
}

#Header{
  font-size:xxx-large;
  text-decoration-color: black;
  font-family: Helvetica;
}
  
nav {
  display: flex;
  background-color:deeppink;
  text-indent: 100px;
       
}

h2{
  font-size: 40px;
}

nav a {
  color: black;
  padding: 40px;
  text-decoration:bold;
  font-size: xx-large;
  font-family: Helvetica;
}
.container{
  color: black;
  padding: 10px;
  text-decoration:bold;
  font-size: xxx-large;
  font-family: Helvetica;
}
  
#code {
  border-style:solid
}

#avatar {
  border-width: 20px;
  border-color: deeppink 10px;
  border-style:groove;
  border-block-color: deeppink;
  padding: 10px;
 }

#Pink{
 height: 200px;
 width: 150%;
  
}

main {
  display: flex;
  flex-wrap: wrap;
}

.content {
  font-size: large; 
  font-family: sans-serif;
  text-align: justify;
  }

.project-2 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content:flex-start;
  flex-wrap: wrap;
  border-width:3px;
  
 }

.project-3 {

  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;
 
}


.project-4 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;
  
}


.project-5 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;

}

#firstproject{
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 5px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  border-width: 5px;
  flex-flow: column;
}

#footer {
text-align: center;
padding: 20px;
font-weight: bold;
font-size: 35px;

}
@media screen and (max-width: 700px) {
main,
nav{
  flex-direction: column;
   }
}
