*/*Body should be styled accordingly*/
 body {
  margin: 0;
  color:black;
  background:whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
}


/*Header font-size is xxx-large and Helvetica for font family*/
#Header{
  font-size:xxx-large;
  text-decoration-color: black;
  font-family: Helvetica;
}


/*H2 Nav bar with deeppink color and text is indented*/
nav {
  display: flex;
  background-color:deeppink;
  text-indent: 100px;
     
}

/*H2 font-size should be 40px*/
h2{
  font-size: 40px;
}

/*Navigation bar & text*/
nav a {
  color: black;
  padding: 40px;
  text-decoration:bold;
  font-size: xx-large;
  font-family: Helvetica;
}
/*Style div container*/
.container{
  color: black;
  padding: 10px;
  text-decoration:bold;
  font-size: xxx-large;
  font-family: Helvetica;
}
  
 /*Style Stephanie's Avatar with a cool border in deeppink*/
#avatar {
  border-width: 20px;
  border-color: deeppink 10px;
  border-style:groove;
  border-block-color: deeppink;
  padding: 10px;
 }

 /*Adjust the Pink Line Magenta Pinterest logo backround*/
#Pink{
 height: 200px;
 width: 150%;
  
}

/*Style the About Me section*/
.content {
  font-size: large; 
  font-family: sans-serif;
  text-align: justify;
  }

/*Style project-2*/
.project-2 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content:flex-start;
  flex-wrap: wrap;
  border-width:3px;
  
 }

 /*Style project-5*/
.project-3 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;
 
}

/*Style project-4*/
.project-4 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;
  
}

/*Style project-5*/
.project-5 {
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 1px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width:3px;

}
/*Linking my first web application in the WORK section of the website*/
#firstproject{
  background-color:deeppink;
  font-size: x-large;
  font-weight:bolder;
  text-decoration: black;
  margin: 5px;
  border: solid 20px;
  padding:70px;
  justify-content: flex-start;
  border-width: 5px;
  flex-flow: column;
}
/*Style footer*/
#footer {
text-align: center;
padding: 20px;
font-weight: bold;
font-size: 35px;

}

/*Media screen*/
@media screen and (max-width: 800px) {
.project-2, .project-3,.project-4, .project-5
nav{
    width: 100%; }
  }
